section.home-section {
    .centered(90vw);
    .flex-box(@justify: space-evenly);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5%;

    @media @tablet {
        .centered(100%);
    }

    @media @phone {
        .flex-box(@direction: column);
    }

    div {
        width: 40%;

        @media @tablet {
            width: 45%;
        }

        @media @phone {
            width: 95%;
        }

        img.computer-img {  
            margin: 0 auto;
            border-radius: 30px;
            @media @phone{
                margin-bottom: 5%;
            }
        }
    }

    div.home-text {

        width: 45%;
        .flex-box(@direction: column);

        @media @phone {
            width: 80%;
        }

        a {
            align-self: center;
            .button-please(@bg-c: @button-color, @width: 40%);
            margin: 3%;
            text-decoration: none;

            &:hover {
                background-color: white;
                color: @darkest;
                border: 1px solid @darkest;
            }
        }
    }

}

section.product-description {
    //home

    //background image  and text!
    div.background {
        background-image: url('../img/mountain-background.png');
        min-height: 32vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        .flex-box();

        @media @tablet {
            background-image: url('../img/mountain-background.png');
            min-height: 150px;
            width: 100%;
        }

        @media @phone {
            min-height: 20vh;
        }

        h2 {

            //position: relative;
            font-size: 8rem;
            color: #b0d9d5de;
            text-align: center;
            top: 10rem;

            @media @tablet {
                font-size: 7rem;
                // top: 5rem;
            }

            @media @phone {
                // top: 5rem;
                // min-height: 20vh;
                font-size: 6rem;
            }
        }
    }

    //background image  and text!

    div.product-feature-wrapper {
        padding: 4% 0;
        .flex-box(@direction: column, @justify: space-evenly, @item: flex-start);

        div.product-feature {
            .flex-box(@justify: space-evenly);
            .centered(75%);
            // margin:3% auto;
            padding-bottom: 2%;
            margin-bottom: 2%;
            border-bottom: 1px solid #B0D9D5;

            @media @tablet {
                .centered(95vw);
                .flex-box(@justify: space-around);
                border-bottom: 1px solid #B0D9D5;
            }

            @media @phone {
                .flex-box(@direction: column);
                margin-top: 6%;
            }

            // flex-wrap: wrap;
            div.product-img {
                width: 45%;

                img {
                    border-radius: 5px;
                }

                @media @tablet {
                    width: 40%;
                }

                @media @phone {
                    width: 90%;
                }
            }

            div.product-text {
                width: 45%;
                .flex-box(@justify: center, @direction: column);

                @media @tablet {
                    width: 45%;
                }

                @media @phone {
                    width: 90%;
                    .flex-box(@justify: center, @direction: column);
                }

                h3 {
                    margin: 4% 0;
                    text-align: center;
                    font-size: 3rem;

                    @media @tablet {
                        text-align: center;
                        padding: 3% 0;
                        font-size: 2.5rem;
                    }
                }

                a {
                    // width:80%;
                    //align-self: flex-end;
                    .button-please(@bg-c: @button-color, @padding: 3% 8%, @width: 60%);
                    margin: 3%;
                    box-shadow: 0 1px 2px;
                    text-decoration: none;

                    &:hover {
                        background-color: white;
                        color: @darkest;
                        border: 1px solid @darkest;
                
                    }
                }
            }
        }
    }

}

//the footer
footer {
    .footer-nav nav {
        .flex-box(@justify: space-evenly);
        padding: 1.1%;
        background: #277373;

        a {
            text-decoration: none;
            color: white;

        }

        div {
            color: white;
            font-size: 2rem;
        }

        //display:none;
    }
}

section.about-content{
    // background: @lightest;
    // border: 1px @lightest solid;
    section.box-wrapper{
        background: white;
    }
}