div.navBar {
    .flex-box(@justify: space-between);
    //height: 15vh;
    .centered(95vw);
    margin-top: 4%;
    margin-bottom: 2%;
    @media @tablet{
        margin-top: 4%;
        margin-bottom: 2%;
    }

    @media @phone {
        .flex-box(@justify: space-around, @direction: column);
    }

    img {
        @media @phone {
            width: 38%;
            margin-bottom: 3%;
        }
    }

    nav {
        .flex-box(@justify: space-between);
        width: 60%;
        
        @media @phone {
            width: 90%;
            //padding-bottom: 1%;
        }

        a {
            text-decoration: none;
            font-weight: bold;
            color: black;
            font-size: 2.0rem;
            &:hover{
                color:@darkest;
            }
            

            @media @tablet{
                font-size: 1.75rem;
            }

            @media @phone {
                font-size: 1.5rem;
                margin:5% 0 ;
            }
        }
    }
}