div.navBar {
    .flex-box(@justify: space-between);
    height: 15vh;
    .centered(95vw);
    @media @phone{
        .flex-box(@justify: space-around, @direction:column);
    }

    img {
        @media @phone {
            width: 29%;
        }
    }

    nav {
        .flex-box(@justify: space-between);
        width: 60%;
        @media @phone{
            width: 80%;
        }

        a {
            text-decoration: none;
            font-weight: bold;
            color: black;

            @media @phone {
                font-size: 1.5rem;
                 margin-bottom: 5%;
            }
        }
    }
}

section.home-section {
    .centered(90vw);
    .flex-box(@justify: space-evenly);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5%;

    @media @tablet {
        .centered(100%);
    }

    @media @phone {
        .flex-box(@direction: column);

    }

    div {
        width: 40%;

        @media @tablet {
            width: 45%;
        }

        @media @phone {
            width: 80%;
        }

        img.computer-img {
            //width: 50%;
            margin: 5% auto;
            border-radius: 30px;

        }
    }

    div.home-text {

        width: 45%;
        .flex-box(@direction: column);

        @media @phone {
            width: 80%;
        }

        a {
            align-self: center;
            .button-please(@bg-c:@button-color,@width: 40%);
            margin: 3%;
            text-decoration: none;

            &:hover {
                background-color: white;
                color: @darkest;
                border: 1px solid @darkest;
            }
        }
    }

}

section.product-description {

    //background image  and text!
    div.background {
        background-image: url('../img/mountain-background.png');
        min-height: 32vh;
        //min-height: 300px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;

        @media @tablet {
            background-image: url('../img/mountain-background.png');
            min-height: 25vh;
            width: 100%;
            //background-position:none;
        }

        @media @phone {
            // margin-bottom: 5%;
            min-height: 20vh;
        }

        h2 {

            position: relative;
            font-size: 8rem;
            color: #b0d9d5de;
            text-align: center;
            top: 10rem;

            @media @tablet {
                top: 6rem;
            }
            @media @phone{
                top:4rem;
            }

            // .centered(40%);
            // border-radius: 5px;
            // background: black;
            // font-weight: bold;
        }
    }

    //background image  and text!

    div.product-feature-wrapper {
        // Feature Cards!
        // background: whitesmoke;
        padding: 4% 0;
        //background-color: whitesmoke;
        .flex-box(@direction: column, @justify: space-evenly, @item: flex-start);

        div.product-feature {
            .flex-box(@justify: space-evenly);
            .centered(75%);
            // margin:3% auto;
            padding-bottom: 2%;
            margin-bottom: 2%;
            border-bottom: 1px solid #B0D9D5;

            @media @tablet {
                .centered(95vw);
                .flex-box(@justify: space-around);
                border-bottom: 1px solid #B0D9D5;
            }

            @media @phone {
                .flex-box(@direction: column);
                margin-top: 6%;
            }

            // flex-wrap: wrap;
            div.product-img {
                width: 45%;

                img {
                    border-radius: 5px;
                }

                @media @tablet {
                    width: 40%;
                }

                @media @phone {
                    width: 90%;
                }
            }

            div.product-text {
                width: 45%;
                .flex-box(@justify:center, @direction:column);

                @media @tablet {
                    width: 45%;
                }

                @media @phone {
                    width: 90%;
                    .flex-box(@justify:center, @direction:column);
                }

                h3 {
                    margin: 4% 0;
                    text-align: center;
                    font-size: 3rem;

                    @media @tablet {
                        text-align: center;
                        padding: 3% 0;
                        font-size: 2.5rem;
                    }
                }
                a {
                    // width:80%;
                    //align-self: flex-end;
                    .button-please(@bg-c:@button-color,@padding:3% 8%, @width:50%);
                    margin: 3%;

                    text-decoration: none;
        
                    &:hover {
                        background-color: white;
                        color: @darkest;
                        border: 1px solid @darkest;
                    }
                }
            }
        }
    }

    //Feature Cards!   
}




//about


section.box-wrapper {
    .flex-box();
    .centered(90vw);
    flex-wrap: wrap;

    .box {
        width: 30%;
        padding: 1.5%;
        margin: 1.5%;
        .flex-box();
        flex-direction: column;
        border: 2px whitesmoke solid;
        border-radius: 5px;

        // div{
        //     display:flex;
        //     flex-direction: row-reverse;
        //     justify-content: space-around;
        //     width: 90%;
        // }
        p {
            text-align: center;
        }

        img.head-shot {

            width: 40%;
        }

        a.fab {
            //padding-bottom: 3%;
            //text-decoration: none;
            color: black;
            padding: 1.5% 0;
        }

        h3 {
            padding: 1.5% 0 3% 0;
        }

        p {
            .centered(90%) //width:
        }
    }
}

//the footer
footer {
    .footer-nav nav {
        .flex-box(@justify: space-evenly);
        padding: 1.1%;
        background: #277373;

        a {
            text-decoration: none;
            color: white;

        }

        div {
            color: white;
            font-size: 2rem;
        }

        //display:none;
    }
}